<h2>アカウント編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :profile, "自己紹介" %><br>
    <%= f.text_area :profile, rows: 5, placeholder: "趣味や一言メッセージなど" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(変更しない場合は空欄のまま)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "半角6文字以上" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(変更の際に必須)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>
