<%= form_with model: @main_task, url: main_tasks_path, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div>
    <%= f.label :name, "メインタスク名" %>
    <%= f.text_field :name %>
  </div>
  
  <h3>サブタスク</h3>
  <div id="subtasks">
    <%= f.fields_for :sub_tasks do |sub_f| %>
      <div>
        <%= sub_f.label :name, "サブタスク名" %>
        <%= sub_f.text_field :name %>
        <%= sub_f.label :name, "目標時間" %>
        <%= sub_f.text_field :name %>分
        <%= sub_f.hidden_field :order, value: 1 %>
      </div>
    <% end %>
  </div>
  <button type="button" id="add-subtask">サブタスクを追加</button>
  
  <%= f.submit "記録開始" %>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let subtaskContainer = document.getElementById("subtasks");
    let addSubtaskButton = document.getElementById("add-subtask");
    let subtaskIndex = subtaskContainer.querySelectorAll('div').length;

    addSubtaskButton.addEventListener("click", function () {
      if (subtaskIndex < 10) {
        let newSubtask = document.createElement("div");
        newSubtask.innerHTML = `
          <label>サブタスク名</label>
          <input type="text" name="main_task[sub_tasks_attributes][${subtaskIndex}][name]">
          <label>目標時間</label>
          <input type="text" name="main_task[sub_tasks_attributes][${subtaskIndex}][target_time]">
          <span>分</span>
          <input type="hidden" name="main_task[sub_tasks_attributes][${subtaskIndex}][order]" value="${subtaskIndex + 1}">
        `;
        subtaskContainer.appendChild(newSubtask);
        subtaskIndex++;
      }
    });
  });
</script>